/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------*/
#iitForm{
	text-align: center;
	position: relative;
}
#back{
	opacity: 0.5;
	height: 100%;
	max-width: 100%;
	position: absolute;
}
#logo{
	display: block;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}
h1{
	font-weight: bold;
	font-size: 250%;
	padding: 0.75em;
}
input{
	height: 2em;
	width: 15em;
	font-size: 1.25em;
}
#userN{
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
}
#password{
	border-bottom-left-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	margin-bottom: 2em;
}
#submit{
	background-color: #D3D3D3;
	width: 18em;
	height: 3em;
	margin: auto;
	margin-bottom: 2em;
	text-align: center;
}
#log {
	background: red;
}
::-webkit-input-placeholder{
	color: #323232;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 125%;
}
.foot{
	padding: 1em;
}
#warning {
  font-weight: bold;
  color: red;
  margin-bottom: 3em;
}
