/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------*/
#iitForm{
	position: relative;
}
form{
	max-width: 25em;
	margin: auto;
	text-align: center;
	display: block;	
}
#back{
	opacity: 0.3;
	height: 100%;
	max-width: 100%;
	position: absolute;
}
#logo{
	display: block;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}
h1{
	font-weight: 500;
	font-size: 250%;
	padding: 0.75em;
	text-align: center;
	font-family: 'Bree Serif', Georgia, serif;
}
input{
	height: 2em;
	width: 15em;
	font-size: 1.25em;
}
#userN{
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
}
#password{
	border-bottom-left-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	margin-bottom: 1em;
}
::-webkit-input-placeholder{
	color: #323232;
	font-weight: bold;
}
#log {
	display: block;
	color: #000000;
	font-weight: 600;
	text-decoration: none;
	background-color: #cccccc;
	margin: auto;
	text-align: center;
	max-width: 18em;
	padding: 0.25em;
	line-height: 2.15em;
	border-radius: 0.5em;
	box-shadow: 0.5em 0.5em 0.9em #888888;
	font-family: 'Bree Serif', Georgia, serif;
	margin-bottom: 2em;
}
#log:hover{
	box-shadow: 0.5em 0.5em 0.4em #888888;
	font-size: 105%; 
}

.foot{
	display: block;
	color: #000000;
	text-decoration: none;
	background-color: #e5e5e5;
	margin: auto;
	text-align: center;
	max-width: 8em;
	line-height: 2em;
	border-radius: 0.5em;
	box-shadow: 0.5em 0.5em 0.1em #888888;
	font-family: 'Bree Serif', Georgia, serif;
	margin-bottom: 0.75em;
}
@media screen and (min-width: 40em){
  .foot{
	display: initial;
	padding: 0.3em;
	box-shadow: 0.25em 0.25em 0.1em #888888;
	margin-right: 5%;
	margin-left: 5%;
  }
  #foots{
	margin-top: 10%; 
	text-align: center;
  }
}
